body{
    background-image: url(../img/beach.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
* {
    text-align: center;
}
.container {
    margin-top:15vh;
}
.disclaimer{
margin-top:10vh;
}
.disclaimer-text{
    color:rgb(0, 23, 128);
}
.form-control{
    width:100%;
    margin-top:20px;
}
.URL-input, .convert-button {
    border-radius:4px;
    font-size:1.3em;
    padding:5px 10px;
}

.URL-input {
    width:80%;
    text-align: left;
    border:2px solid #EEEEEE;
    background: #EEEEEE;
    outline:none;
}
.URL-input:focus {
    border:2px solid #0485ff;
}
.convert-button {
    border:2px solid #0485ff;
    background: #0485ff;
    color:white;
}